body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
  color: white;
}

.container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #1e2a38;
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}

h2 {
  text-align: center;
  color: #ffd369;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #ffd369;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background: #ffb703;
}

.hidden {
  display: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  margin: 20px 0;
}
.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.options-grid label {
  background: #2c3e50;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.options-grid input[type="radio"] {
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logout {
  background: red;
  width: 100%;
  margin-top: 20px;
}
